
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<title>OG porfolio</title>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<link href="../css/style.css" rel="stylesheet"> 
	<!-- change css href before deployment -->
	<script type="text/javascript">
	     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	     ga('create', '{{ site.google_analytics }}', 'auto'); 
	     ga('send', 'pageview');
	</script>
	</head>
	<body >
		<!-- onload="initSlideShow();" -->
		<div class="home-wrap">
			<div class="portals portals-type top-right" style="transform: matrix(1, 0, 0, 1, 0, 0);">
					
			<a href="/category/hardware">
				<section id="hardware" class="">
					<img class="title" draggable="false" src="https://s3.amazonaws.com/geletina-images/hardware.svg">
				</section>
			</a>	
			<a href="/category/software">
				<section id="software" class="">
					<img class="title" draggable="false" src="https://s3.amazonaws.com/geletina-images/software.svg">
				</section>
			</a>	
			<a href="/category/still-motion">
				<section id="still-motion" class="">
					<img class="title" draggable="false" src="https://s3.amazonaws.com/geletina-images/still-motion.svg">
				</section>
			</a>	
			<a href="/category/materials">
				<section id="materials" class="">
					<img class="title" draggable="false" src="https://s3.amazonaws.com/geletina-images/materials.svg">
				</section>
			</a>	
			<a href="/category/web-mobile">
				<section id="web-mobile" class="">
					<img class="title" draggable="false" src="https://s3.amazonaws.com/geletina-images/web-mobile.svg">
				</section>
			</a>	
			<a href="/category/about">
				<section id="about" class="">
					<img class="title" draggable="false" src="https://s3.amazonaws.com/geletina-images/about.svg">
				</section>
			</a>
			</div>
			<div class="portals portals-images top-right" style="transform: matrix(1, 0, 0, 1, 0, 0);">

						
		<section id="hardware" class=""><div class="images">
				

			<span class="home-image active" style="background-image: url(https://s3.amazonaws.com/geletina-images/hardware-lula-web.jpg);"></span>



			<span class="home-image" style="background-image: url(https://s3.amazonaws.com/geletina-images/hardware-circuit-web.jpg); display:none;"></span>


			</div>
		</section>		
		<section id="software" class=""><div class="images">
				

			<span class="home-image active" style="background-image: url(https://s3.amazonaws.com/geletina-images/software-pans-web.PNG);"></span>



			<span class="home-image" style="background-image: url(https://s3.amazonaws.com/geletina-images/dynamics.gif); display:none;"></span>



			<span class="home-image" style="background-image: url(https://s3.amazonaws.com/geletina-images/hardware-lula-web.jpg); display:none;"></span>


			</div>
		</section>		
		<section id="still-motion" class=""><div class="images">
				

			<span class="home-image active" style="background-image: url(https://s3.amazonaws.com/geletina-images/video-banana.png);"></span>



			<span class="home-image" style="background-image: url(https://s3.amazonaws.com/geletina-images/video-banana-1.png); display:none;"></span>



			<span class="home-image" style="background-image: url(https://s3.amazonaws.com/geletina-images/video-banana-2.png); display:none;"></span>



			<span class="home-image" style="background-image: url(https://s3.amazonaws.com/geletina-images/video-banana-3.png); display:none;"></span>


			</div>
		</section>		
		<section id="materials" class=""><div class="images">
				

			<span class="home-image active" style="background-image: url(https://s3.amazonaws.com/geletina-images/materials-ferro-web.tif);"></span>



			<span class="home-image" style="background-image: url(https://s3.amazonaws.com/geletina-images/tablet-weaving-web.jpg); display:none;"></span>



			<span class="home-image" style="background-image: url(https://s3.amazonaws.com/geletina-images/materials-potatoes-web.jpg); display:none;"></span>



			<span class="home-image" style="background-image: url(https://s3.amazonaws.com/geletina-images/materials-stairs.jpg); display:none;"></span>



			<span class="home-image" style="background-image: url(https://s3.amazonaws.com/geletina-images/materials-mc-web.jpg); display:none;"></span>



			<span class="home-image" style="background-image: url(https://s3.amazonaws.com/geletina-images/materials-lula-web.jpg); display:none;"></span>


			</div>
		</section>		
		<section id="web-mobile" class=""><div class="images">
				

			<span class="home-image active" style="background-image: url(https://s3.amazonaws.com/geletina-images/web-cogreen-web.jpg);"></span>



			<span class="home-image" style="background-image: url(https://s3.amazonaws.com/geletina-images/web-amplify-web.jpg); display:none;"></span>


			</div>
		</section>		
		<section id="about" class=""><div class="images">
				

			<span class="home-image active" style="background-image: url(https://s3.amazonaws.com/geletina-images/og-welding-web.jpg);"></span>



			<span class="home-image" style="background-image: url(https://s3.amazonaws.com/geletina-images/og-filming-web.jpg); display:none;"></span>



			<span class="home-image" style="background-image: url(https://s3.amazonaws.com/geletina-images/og-solder-web.jpg); display:none;"></span>



			<span class="home-image" style="background-image: url(https://s3.amazonaws.com/geletina-images/og-computering-web.jpg); display:none;"></span>


			</div>
		</section>

			</div>
			<!-- <div class="portal-nav"></div> -->
		</div>

	</body>
	<script>
		let currentElem = null;
		var container = document.querySelector(".home-wrap");
		var elID = null;
		var elements = [];
		var imgIndex = 0;

		container.onmouseover = function(event) {
		  if (currentElem) {
		    // before entering a new element, the mouse always leaves the previous one
		    // if we didn't leave <section> yet, then we're still inside it, so can ignore the event
		    return;
		  }

		  let target = event.target.closest('section');
		  if (!target || !container.contains(target)) return;

		  // yeah we're inside <section> now
		  currentElem = target;
		  elID = target.id;
		  elements = document.querySelectorAll("#"+elID);

		  for (var i = 0; i < elements.length; i++) {
		  	elements[i].classList.add("hover")        			
			}
		  // console.log(target);
		};


		container.onmouseout = function(event) {
		  // if we're outside of any <section> now, then ignore the event
		  if (!currentElem) return;

		  // we're leaving the section -- where to? Maybe to a child element?
		  let relatedTarget = event.relatedTarget;
		  if (relatedTarget) { // possible: relatedTarget = null
		    while (relatedTarget) {
		      // go up the parent chain and check -- if we're still inside currentElem
		      // then that's an internal transition -- ignore it
		      if (relatedTarget == currentElem) return;
		      relatedTarget = relatedTarget.parentNode;
		    }
		  }

		  for (var i = 0; i < elements.length; i++) {
		  	elements[i].classList.remove("hover");
		  	if (i == elements.length - 1) {
		  		var img = elements[i].querySelector(".active"); // get the active image
		  		var images = elements[i].querySelectorAll(".home-image"); //get all of the images of the category
		  		let arr = Array.from(images); //cast all of the images into an array
		  		var iofImg = arr.indexOf(img); //get the index of the active image
		  		var activeImg = images.item(iofImg); //select the node tha corresponds to the active image

		  		activeImg.classList.remove("active"); //remove the actve tag
		  		activeImg.style.display = "none"; //no longer display it

		  		if (iofImg ==  arr.length - 1) { //advance index forward
		  			iofImg = 0;
		  		}
		  		else {
		  			iofImg +=1; 
		  		}
		  		activeImg = images.item(iofImg); //set a new active image
		  		activeImg.classList.add("active");
		  		activeImg.style.display = null;
		  		// console.log(iofImg);
		  	}

		  }

		  currentElem = null;
		  elID = null;
		};

	</script>
	
</html>