*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  color: #2a2a2a;
  display: block;
  scroll-behavior: smooth;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hide {
  opacity: 0;
}


/* general layout */

.content-full {
  display: flex;
  flex-wrap: wrap;
  max-width: 130rem;
  margin: auto;
}

header {
  padding: 0.2rem 1.2rem 0.2rem 1.2rem;
}

.landing-page {
  padding: 0 1.2rem 1.2rem 1.2rem;
}

.about-description,
.project-page .section, .project-page .column-reverse-custom .col-1 {
  padding: 0 1.2rem;
}

.page-content {
  opacity: 0;
  width: 100%;
  /* display: flex; */
}

.landing-page {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.col-1, .col-2, .col-half {
  width: 100%;
  align-items: baseline;
}

#interim-container {
  height: 200%;
  overflow: hidden;
  position: absolute;
  z-index: 199;
}

.col-monolith {
  display: flex;
  width: 50%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: baseline; */
  /* rando IE fix */
  min-height: 1px;
}

.flex-wrap, .wrap-around {
  display: flex;
  /* rando IE fix */
  width: 100%;
  min-height: 1px;
}

.wrap-around {
  flex-wrap: wrap;
}

.project-about {
  padding: 2rem 0 0 0;
}

.row, .column-reverse, .column-reverse-custom {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  /* rando IE fix */
  min-height: 1px;
}

.aligned-bottom {
  align-items: flex-end;
}

.col-1 {
  height: fit-content;
}

.col-something-else {
  width: 50%;
  min-height: 1px;
}

.row img, .column-reverse img, .row video {
  width: 100%;
  display: block;
  height: auto;
}

.img-container a {
  line-height: 0;
}

.img-lazy img, .img-lazy img.lazyloading {
  opacity: 0;
  transition: opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

img.lazyloaded {
  opacity: 1;
}

.error-page {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
}

.error-page a.btn {
  margin: auto;
  justify-content: center;
}

.error-page .col-half {
  padding: 1.75rem 0 4rem 0;
  border-bottom: 0.125rem solid #2a2a2a;
  border-top: 0.125rem solid #2a2a2a;
}

.error-page .col-half h3 {
  margin-bottom: 0.75rem;
}

/* header and menu */

/* to prevent scrolling when menu expanded */

.no-scroll {
  overflow: hidden;
}

header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: #ffffff;
  z-index: 100;
}

.menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#mobile-nav {
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 1.2rem;
  transform: translateY(-100%);
  z-index: 1;
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

#mobile-nav.active {
  transform: translateY(0%);
}

#menu-burger {
  width: fit-content;
  /* bumping up the touch area size  */
  margin: 1rem 0 1rem 1.25rem;
  overflow: hidden;
}

.burger-line.top {
  transform: translateY(0.4375rem);
  animation: burgerTopLoad 0.75s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

.burger-line.bottom {
  transform: translateY(-0.4375rem);
  animation: burgerBottomLoad 0.75s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

.burger-line {
  width: 1.5rem;
  height: 0.125rem;
  margin-top: 0.3125rem;
  background-color: #2a2a2a;
  display: block;
}

ul.mobile-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-self: flex-end;
  width: 100%;
}

ul.category-list,
ul.menu-links {
  list-style-type: none;
  padding: 0;
  display: none;
}

.category-list {
  text-align: right;
}

.category-list li {
  padding-bottom: 0.4375rem;
}

li.mobile-row a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.9375rem 0 0.9375rem 0;
  border-bottom: 0.125rem solid #2a2a2a;
}

li.mobile-row:last-child a {
  border-bottom: none;
}

.menu-home, .menu-links .btn {
  overflow: hidden;
}

.menu-home .btn, .menu-links .btn .link-container {
  opacity: 0;
}

.copyright {
  align-self: flex-end;
}

.burger-line.top.active {
  animation: burgerTop 0.4s ease-in-out forwards;
  -webkit-animation: burgerTop 0.4s ease-in-out forwards;
}

.burger-line.top.inactive {
  transform: translateY(0);
  animation: burgerTopReverse 0.4s ease-in-out forwards;
  -webkit-animation: burgerTopReverse 0.4s ease-in-out forwards;
}

.burger-line.center.active {
  animation: burgerCenter 0.4s ease-in-out forwards;
  -webkit-animation: burgerCenter 0.4s ease-in-out forwards;
}

.burger-line.center.inactive {
  animation: burgerCenterReverse 0.4s ease-in-out forwards;
  -webkit-animation: burgerCenterReverse 0.4s ease-in-out forwards;
}

.burger-line.bottom.active {
  animation: burgerBottom 0.4s ease-in-out forwards;
  -webkit-animation: burgerBottom 0.4s ease-in-out forwards;
}

.burger-line.bottom.inactive {
  transform: translateY(0);
  animation: burgerBottomReverse 0.4s ease-in-out backwards;
  -webkit-animation: burgerBottomReverse 0.4s ease-in-out backwards;
}

/* typography   */

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.mobile-links .mobile-row .main, .project-desc strong, .next-project strong, h1, h2, .btn {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.mobile-links .mobile-row .main, .project-desc strong, .next-project strong, h1 {
  font-size: 2.5625rem;
  line-height: 1;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

.category {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.0625rem;
}

.btn {
  font-size: 0.8125rem;
  letter-spacing: 0.1rem;
}

h3 {
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.custom-kern {
  letter-spacing: 0.125rem;
}

.mobile-links .mobile-row .main, .project-desc strong, .next-project strong, h1, h2, h3, .btn, p {
  margin: 0;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400 !important;
  font-size: 0.9375rem;
  line-height: 1.35;
}

.large-br {
  display: block;
  line-height: 0.75rem;
}

a.btn {
  color: inherit;
  white-space: nowrap;
}

.btn-arrow {
  padding-top: 0.75rem;
  display: flex;
  align-items: center;
  width: max-content;
}

.btn-arrow img {
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.next-project a:hover .btn-arrow img, .btn-arrow:hover img {
  transform: translatex(0.5rem);
}

.next-project .btn-arrow .arrow-container {
  width: 2.5rem;
  overflow: hidden;
}

.next-project a:hover .btn-arrow.reset img {
  transition-delay: 0.05s;
  transition-duration: 0.5s;
  transform: translatex(101%);
}

.btn-arrow img {
  height: 1rem;
  width: 2rem;
}

.btn-arrow img {
  margin: 0 0 -0.0625rem 0.2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a.link-type-menu, a.link-type-inline {
  position: relative;
  white-space: nowrap;
}

a.link-type-menu::after {
  content: " ";
  height: 0.0625rem;
  width: 0%;
  position: absolute;
  bottom: -0.125rem;
  right: 0;
  background: #2a2a2a;
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

a.link-type-menu:hover::after {
  width: 100%;
  right: unset;
  left: 0;
}

a.link-type-inline::after {
  content: " ";
  height: 0.0625rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #2a2a2a;
  transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

a.link-type-inline:hover::after {
  width: 0%;
  right: unset;
  left: 0;
}

.new-line {
  display: block;
}

.center {
  text-align: center;
}

.rise {
  opacity: 0;
}

.line-container {
  overflow: hidden;
}

.word-container {
  transition: transform 0.85s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
  transform: translatey(100%);
}

.rise.scrolled {
  opacity: 1;
}

.rise.scrolled .word-container, .rise.scrolled .word-container {
  transform: translatey(0);
}

/* landing page */

.landing-page .project:first-child {
  padding-top: 0;
}

.project-page .project-info {
  position: relative;
}
.project-page .project-info .project-desc {
  margin: 2.5rem 0 1.75rem 0;
}

.project-page .project-info::after,
.landing-page .project::after {
  content: " ";
  height: 0.125rem;
  width: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #2a2a2a;
  transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.project-page .project-info.stroke.scrolled::after,
.landing-page .project.stroke.scrolled::after {
  width: 100%;
  right: unset;
  left: 0;
}

.landing-page .project:last-child {
  padding-bottom: 3.8rem;
}

.landing-page .project:last-child::after {
  content: none;
}

.landing-page .project {
  padding: 2.25rem 0 1.875rem 0;
  position: relative;
}

.project-desc {
  padding-top: 0.75rem;
}

.landing-page .project-desc+.project-img {
  overflow: hidden;
}

.landing-page .project-desc+.project-img img {
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.landing-page .project-desc+.project-img:hover img, .landing-page .project-desc:hover+.project-img img {
  transform: scale(1.1);
}

.publications, .contact, .og-bio {
  padding-bottom: 5rem;
  align-self: flex-start;
}

.pub, ul.contacts {
  padding-top: 1.05rem;
}

.about-text {
  padding: 1.05rem 0;
}

.pub-title {
  padding-bottom: 0.2rem;
}

ul.contacts {
  margin: 0;
  padding: 1.15rem 0 0 0;
  list-style-type: none;
}

ul.contacts li {
  padding-bottom: 0.25rem;
}

/* project page */

.img-container.title {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

img.title-img {
  width: 225%;
  height: 100%;
  transform: translateX(-50%);
}

.project-page .section {
  padding-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.project-page .section .col-2 .col-half {
  width: 100%;
  align-self: center;
}

.project-page .section .col-2 .col-half:not(:last-child) {
  margin-bottom: 0.625rem;
}

.project-page .section .col-2 img {
  width: 100%;
  min-height: 1px;
}

.next-project {
  padding: 5rem 1.2rem 2.5rem 1.2rem;
  overflow: hidden;
}

.next-project .col-half {
  padding-top: 1.75rem;
  position: relative;
  transform: translateY(140%);
  transition: transform 0.75s cubic-bezier(0.23, 1, 0.32, 1);
}

.next-project.scrolled .col-half {
  transform: translateY(0);
}

.dash-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.dash {
  border-top: 0.125rem solid #2a2a2a;
  position: absolute;
  transform: translateX(-101%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.next-project.scrolled .dash {
  transform: translateX(0%);
  transition-delay: 0.25s;
}

.next-project.scrolled .dash.reset {
  transform: translateX(-101%);
}

.next-project .btn-arrow {
  padding-bottom: 0.3125rem;
}

.project-page .section .section-caption {
  padding-top: 2rem;
}

.project-page .section .section-caption-small {
  padding-top: 0.625rem;
  width: 100%;
}

.project-page .section .section-caption p {
  padding-top: 0.15rem;
}

.project-page {
  width: 100%;
}

.project-page .iframe-parent {
  display: block;
}

.project-page .iframe-container {
  position: relative;
  padding-top: 56.25%;
}

/* idiosyncrasies */

.about-og {
  align-items: baseline;
}

.amplify-bg {
  background-color: #454545;
}

.putty-bg {
  background-color: #f5f5f5;
  padding: 1rem;
}

.expjs-bg {
  background-color: #f1f2f2;
}

.amplify-bg img {
  max-width: 85%;
  margin: auto;
  transform: translateY(15%);
}

.project-page .section .col-2 .col-monolith:nth-child(odd) {
  margin-right: 0.3125rem;
}

.project-page .section .col-2 .col-monolith:nth-child(even) {
  margin-left: 0.3125rem;
}

.project-page .section .margined-top {
  margin-top: 0.625rem;
}

.flex-fill {
  flex-grow: 1;
}

.mobile-hide {
  display: none;
}

@media (max-width: 374.98px) {
  .mobile-links .mobile-row .main, .project-desc strong, .next-project strong, h1 {
    font-size: 1.8125rem;
  }
  h3 {
    font-size: 1rem;
  }
}

/* two column breakpoint */

@media (min-width: 769px) {
  .next-project {
    padding: 5rem 0 2.5rem 0;
    overflow: hidden;
  }
  .project-page .section {
    padding-left: 0;
    padding-right: 0;
  }

  .about-description{
    padding: 0;
  }

  .project-page .column-reverse-custom .col-1 {
    padding-right: 0;
  }
  header {
    position: absolute;
    width: 25%;
    background-color: transparent;
  }
  header .btn {
    padding-bottom: 0.125rem;
    margin-bottom: 0.85rem;
  }
  .menu-home {
    margin-bottom: 0.9rem;
  }
  .row {
    align-items: baseline;
  }
  .row, .column-reverse {
    flex-direction: row;
  }
  img.title-img {
    width: 100%;
    transform: none;
  }
  .col-1 {
    width: 25%;
    padding-right: 1.1rem;
  }
  .col-2 {
    width: 75%;
    margin-left: auto;
    padding-left: 1.1rem;
    display: flex;
    flex-wrap: wrap;
  }
  .project-page .section .col-2 .col-half, .col-half {
    width: 50%;
  }
  .project-page .section .col-2 {
    align-self: center;
  }
  .project-page .section .col-2 .col-half:nth-child(odd), .project-page .section .col-2 .col-monolith:nth-child(odd) {
    margin-right: 0.3125rem;
    margin-bottom: 0;
  }
  .project-page .section .col-2 .col-half:nth-child(even), .project-page .section .col-2 .col-monolith:nth-child(even) {
    margin-left: 0.3125rem;
    margin-bottom: 0;
  }
  .project-page .section .col-monolith .margined-top, .project-page .section .margined-top {
    margin-top: 0.625rem;
  }
  .og-bio {
    padding-right: 1.5rem;
  }
  .publications {
    padding-left: 1.5rem;
  }
  .project .project-img {
    width: 35%;
  }
  .project-desc {
    padding-top: 0;
    width: 65%;
    margin-right: 1.5rem;
  }

  ul.category-list,
  ul.menu-links {
    display: block;
  }
  #menu-burger {
    display: none;
  }
  #mobile-nav {
    display: none;
  }
  /* .project-about {
    padding: 0;
  } */
  .project-page .section .col-2 {
    flex-direction: row;
    justify-content: center;
  }
  .new-line {
    display: inline;
  }
  .mobile-hide {
    display: flex;
  }
  .wrap-around {
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .og-bio {
    padding-right: 2.5rem;
  }
  .publications {
    padding-left: 2.5rem;
  }
  .landing-page .project:last-child {
    padding-bottom: 13rem;
  }
  .putty-bg {
    padding: 3rem;
  }
  .custom-kern {
    letter-spacing: 0.25rem;
  }
  .contact {
    padding-bottom: 6rem;
  }
}

@media (min-width: 769px) and (max-width: 991.98px) {
  /* .landing-page, */
  .about-og {
    padding: 1.2rem 0 0 1.15rem;
  }
  .project-about {
    padding-top: 1rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  /*  */
  header {
    /* padding: 1.1rem 1.1rem 0 1.2rem; */
    padding: 1.2rem 0 0 1.2rem;
  }
  .about-text {
    padding: 1.675rem 0 1.05rem 0;
  }
  .project-desc {
    margin-top: -0.2rem;
  }
  .column-reverse-custom .col-1 {
    width: 75%;
    padding-left: 1.1rem;
  }
  .landing-page, .project-page {
    padding: 1.2rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  /* .landing-page, */
  .about-og {
    padding: 2.2rem 0 0 1.1rem;
  }
  header {
    padding: 2.2rem 0 0 2.2rem;
  }
  .column-reverse-custom .col-1 {
    width: 75%;
    padding-left: 1.1rem;
  }
  .project-about {
    padding-top: 1rem;
  }
  .project-desc h3 {
    margin-top: -0.5rem;
  }
  .project-desc strong, .next-project strong, h1 {
    font-size: 3.1875rem;
  }
  h3 {
    font-size: 1.54rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  .about-text {
    padding: 1.875rem 0 1.05rem 0;
  }
  .landing-page, .project-page {
    padding: 2.2rem;
  }
  .project-page .section, .next-project {
    padding-top: 6rem;
  }
  .project-page .section .section-caption p {
    padding-top: 0.5rem;
  }
  .next-project .col-half {
    padding-top: 2rem;
  }
}

@media (min-width: 1200px) and (max-width: 1499.98px) {
  .about-og {
    padding: 2rem 0 0 1.1rem;
  }
  header {
    padding: 2rem 0 0 2rem;
  }
  .project-desc strong, .next-project strong, h1 {
    font-size: 3.75rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 2.1875rem;
  }
  .about-text {
    padding: 2.1rem 0 1.05rem 0;
  }
  .landing-page, .project-page {
    padding: 2rem;
  }
}

@media (min-width: 1200px) {
  img.title-img {
    width: 100%;
    transform: none;
  }
  
  .project-page .section .col-2 .col-half:nth-child(odd), .project-page .section .col-2 .col-monolith:nth-child(odd) {
    margin-right: 0.625rem;
    margin-bottom: 0;
  }
  .project-page .section .col-2 .col-half:nth-child(even), .project-page .section .col-2 .col-monolith:nth-child(even) {
    margin-left: 0.625rem;
    margin-bottom: 0;
  }
  .project-page .section .col-monolith .margined-top, .project-page .section .margined-top {
    margin-top: 1.25rem;
  }
  p {
    line-height: 1.4375;
  }
  .project-page .section {
    padding-top: 9rem;
  }
  .next-project {
    padding-top: 11rem;
  }
  .project-page .section .section-caption p {
    padding-top: 0.75rem;
  }
  .next-project .col-half {
    padding-top: 2.25rem;
  }
  .project-page .column-reverse-custom .col-1 {
    padding-left: 0;
    padding-right: 1.2rem;
  }
  .contact {
    padding-bottom: 7rem;
  }
}

@media (min-width: 1500px) {
  .about-text {
    padding: 2rem 0 1.05rem 0;
  }
  .about-og {
    padding: 2.5rem 0 1.5rem 0;
  }
  header {
    padding: 2.5rem 0 0 2.5rem;
  }
  .landing-page .project {
    padding: 1.65rem 0 1.65rem 0;
  }
  .project-page {
    padding: 7rem 4.2rem 4.2rem 4.2rem;
  }
  .nav-bottom {
    padding: 4.5rem 4.2rem 2.5rem 4.2rem;
  }
  .nav-top {
    padding: 2.5rem 4.2rem 2.5rem 4.2rem;
  }
  .project-page .column-reverse-custom .col-1, .col-1 {
    padding-right: 1.5rem;
  }
  .col-2 {
    padding-left: 1.5rem;
  }
  .project-desc strong, .next-project strong, h1 {
    font-size: 4.75rem;
  }
  h3 {
    font-size: 2.1875rem;
  }
  h2 {
    font-size: 2.6875rem;
  }
  p {
    font-size: 1.125rem;
  }
  .btn {
    font-size: 1rem;
  }
  .category {
    font-size: 0.8125rem;
  }
  .landing-page, .project-page {
    padding: 2.5rem;
  }
  .putty-bg {
    padding: 5rem;
  }
  .btn-arrow img {
    margin: 0 0 0 0.2rem;
  }
}

/* animations */

@keyframes burgerTop {
  0% {
    transform: translateY(0.4375rem) rotateZ(0deg);
  }
  50% {
    transform: translateY(0.4375rem) rotateZ(0deg);
  }
  100% {
    transform: translateY(0.4375rem) rotateZ(45deg);
  }
}

@keyframes burgerTopLoad {
  0% {
    transform: translateY(0.4375rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes burgerBottom {
  0% {
    transform: translateY(-0.4375rem) rotateZ(0deg);
  }
  50% {
    transform: translateY(-0.4375rem) rotateZ(0deg);
  }
  100% {
    transform: translateY(-0.4375rem) rotateZ(-45deg);
  }
}

@keyframes burgerBottomLoad {
  0% {
    transform: translateY(-0.4375rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes burgerCenter {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes burgerTopReverse {
  0% {
    transform: translateY(0.4375rem) rotateZ(45deg);
  }
  50% {
    transform: translateY(0.4375rem) rotateZ(0deg);
  }
  100% {
    transform: translateY(0rem) rotateZ(0deg);
  }
}

@keyframes burgerBottomReverse {
  0% {
    transform: translateY(-0.4375rem) rotateZ(-45deg);
  }
  50% {
    transform: translateY(-0.4375rem) rotateZ(0deg);
  }
  100% {
    transform: translateY(0rem) rotateZ(0deg);
  }
}

@keyframes burgerCenterReverse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#loadOverlay {
  display: none;
}