@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:ital@1&display=swap");

*,
*::before,
*::after {
  box-sizing: inherit;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}

* {
  --font-size: calc((var(--pixels) / 16) * 1rem);
  font-size: var(--font-size);
}

html {
  box-sizing: border-box;
  color: var(--dark);
  display: block;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100%;
}

:root {
  /* colors */
  --light: #ffffff;
  --medium: #dcdcdc;
  --dark: #2a2a2a;

  /* breakpoints */
  --xs-min: 375px;
  --sm-min: 576px;
  --md-min: 769px;
  --lg-min: 992px;
  --xl-min: 1200px;
  --xxl-min: 1500px;

  --xs-max: 374.98px;
  --sm-max: 575.98px;
  --md-max: 768.98px;
  --lg-max: 991.98px;
  --xl-max: 1199.98px;
  --xxl-max: 1499.98px;
}

.landing-page,
footer {
  padding: 1.2rem;
  /* display: flex; */
  /* flex-direction: column; */
}

.project-page {
  padding: 5.5rem 1.2rem 1.2rem 1.2rem;
}

.landing-page {
  z-index: -1;
  /* height: max-content; */
}

.project {
  padding-bottom: 4.5rem;
}

.project-about {
  padding: 2rem 0 0.75rem 0;
}

.row,
.row-reverse {
  width: 100%;
  display: flex;
}

.row {
  flex-direction: column;
}

.row-reverse {
  flex-direction: column-reverse;
}

.row img,
.row-reverse img {
  width: 100%;
}

.project-page .section {
  padding-top: 3.75rem;
}

.project-page .section .col-1,
.project-page .section .col-2,
.next-project .next-garnish,
.project-page .full {
  padding-bottom: 0.75rem;
}

.project-page .section .section-caption {
  padding-top: 0.75rem;
}

.project-page .section .section-caption p {
  padding-top: 0.15rem;
}

.project-page .section:last-of-type {
  padding-bottom: 1.35rem;
}

.project-page .full {
  width: 100%;
}

.center {
  text-align: center;
}

/* typography   */

h1,
h2,
.btn {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  --pixels: 41;
  font-size: var(--font-size);
}

h2 {
  --pixels: 19;
  font-size: var(--font-size);
}

h3 {
  --pixels: 20;
  font-size: var(--font-size);
  font-weight: 400;
}

.btn {
  --pixels: 13;
  font-size: var(--font-size);
  letter-spacing: 0.1rem;
}

h3 {
  font-family: "Playfair Display", serif;
  font-style: italic;
}

h1,
h2,
h3,
.btn,
p {
  margin: 0;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  --pixels: 15;
  font-size: var(--font-size);
  
}

.large-br {
  display: block;
  line-height: 0.75rem;
}

a.btn {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

a {
  color: inherit;
}

/* typography   */

.project-desc {
  padding-top: 0.75rem;
}

.project-desc a,
a.OG {
  text-decoration: none;
}

.project-desc h3 {
  line-height: 0.9rem;
}

.nav-bottom,
.nav-top {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  z-index: 9991;

  /* added a separate class, .gradient-top-bottom,  to reuse same gradient in project-page footer */
  /* white variation */
  /* background: linear-gradient(rgba(255,255,255, 0) 0 3%,  rgba(255,255,255, 0.85) 37%, #FFFFFF 60%); */

  /* worked okay for  box-shadow */
  /* padding: 0px 2.5rem 0px 2.5rem; */
  /* height: 145px; */
  /* background-color: rgba(220, 220, 220, 0.85); */
  /* box-shadow: 0rem 0rem 50px 50px rgba(220, 220, 220, 0.85); */
}

.nav-bottom {
  padding: 2.2rem 1.2rem 2rem 1.2rem;
}

.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.6rem 1.2rem 1.8rem 1.2rem;
  transition: transform 0.7s;
}

.display-nav-top {
  transform: translateY(-100%);
}

.hide-nav-top {
  transform: none;
}

.gradient-top-bottom {
  background: linear-gradient(
    rgba(220, 220, 220, 0) 0 3%,
    rgba(220, 220, 220, 0.85) 37%,
    rgba(220, 220, 220, 1) 60%
  );
}

.gradient-bottom-top {
  background: linear-gradient(
    rgba(220, 220, 220, 1) 0 15%,
    rgba(220, 220, 220, 0.85) 43%,
    rgba(220, 220, 220, 0) 97%
  );
}

.sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.OG {
  flex-grow: 2;
  display: flex;
  align-items: center;
}

.menu-link {
  padding-left: 0.65rem;
}

footer {
  background-color: var(--medium);
}

/* footer.project-page-footer {
  background: linear-gradient(rgba(220, 220, 220, 0), rgba(220, 220, 220, 1));
} */

.about-og,
.publications,
.contact,
.next-project {
  padding-bottom: 4.5rem;
}

.pub {
  padding-top: 1.25rem;
}

.pub-title {
  padding-bottom: 0.2rem;
}

.btn-arrow {
  padding-top: 0.75rem;
  display: flex;
  align-items: center;
  width: max-content;
}

.btn-arrow img,
.OG img {
  height: 1rem;
  width: 2rem;
}

.btn-arrow img {
  margin: 0 0 0.1rem 0.2rem;
}

.OG img {
  margin: 0.1rem 0.2rem 0 0;
}

ul.contacts {
  margin: 0;
  padding: 1.25rem 0 0 0;
  list-style-type: none;
}

.project-page .iframe-parent {
  display: block;
}

.project-page .iframe-container {
  position: relative;
  padding-top: 56.25%;
}

@media (min-width: 992px) {
  .row {
    flex-direction: row;
  }

  .row-reverse {
    flex-direction: row-reverse;
  }

  .col-1 {
    width: 50%;
    padding-right: 1.1rem;
  }

  .col-2 {
    width: 50%;
    margin-left: auto;
    padding-left: 1.1rem;
  }

  .landing-page .project-img {
    visibility: hidden;
  }

  .landing-page .project-desc:hover + .project-img {
    visibility: visible;
  }

  .landing-page .img-container {
    position: relative;
  }
  .landing-page .img-container img {
    position: absolute;
    z-index: -1;
  }

  .project-desc {
    padding-top: 0;
  }

  .menu-link {
    padding-left: 2.2rem;
  }

  .next-project .project-desc {
    align-self: flex-end;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .landing-page,
  footer {
    padding: 2.2rem;
  }
  .nav-bottom {
    padding: 4.5rem 2.2rem 2.5rem 2.2rem;
  }

  .nav-top {
    padding: 2.5rem 2.2rem 2.5rem 2.2rem;
  }

  .col-1 {
    padding-right: 1.1rem;
  }

  .col-2 {
    padding-left: 1.1rem;
  }
}

@media (min-width: 1200px) {
  .landing-page,
  footer {
    padding: 4.2rem;
  }

  .project-page {
    padding: 7rem 4.2rem 4.2rem 4.2rem;
  }

  .nav-bottom {
    padding: 4.5rem 4.2rem 2.5rem 4.2rem;
  }

  .nav-top {
    padding: 2.5rem 4.2rem 2.5rem 4.2rem;
  }

  .col-1 {
    padding-right: 1.5rem;
  }

  .col-2 {
    padding-left: 1.5rem;
  }

  h1 {
    --pixels: 68;
    font-size: var(--font-size);
  }

  h2,
  h3 {
    --pixels: 30;
    font-size: var(--font-size);
  }

  .project-desc h3 {
    line-height: normal;
  }

  p {
    --pixels: 18;
    font-size: var(--font-size);
  }

  .btn {
    --pixels: 16;
    font-size: var(--font-size);
  }

  .project-page .section {
    padding-top: 5.55rem;
  }
}
