<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html>

<head>
    <%= headerHTML %>
</head>

<body>
    <div class="content-full">
        <div class="error-page">
            <div class="col-half">
                <h1 class="center">404 error</h1>
                <h3 class="center">this page doesn’t live here anymore,<br>
                    or maybe it never did</h3>
                <a href="./" class="btn btn-arrow">Go home
                    <img src="/static/images/right-arrow-dark.svg" alt="right arrow icon" /></a>
            </div>
        </div>
    </div>
</body>

</html>