<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html>

<head>
    <title></title>
    <title>OG porfolio</title>
    <%= headerHTML %>
</head>
<body>
    <div class="portal-wrap reveal about-bg">
        <div class="about-me">
            <div class="logo-scale">
            	<img src="https://s3.amazonaws.com/geletina-images/new-logo.svg" alt="" style="with:100px;">
                <!-- <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 495.8 495.6" style="enable-background:new 0 0 495.8 495.6;" xml:space="preserve">
                    <rect y="-0.4" class="st0" width="495.8" height="495.8" />
                    <circle class="st1" cx="247.9" cy="249" r="142" />
                    <path id="underline" class="st2" d="M210.3,0C76,78.8-1,204.1,17.8,315.9c12.7,75.3,65.1,121.9,70.6,126.7
					c60.5,52.3,156.6,72.7,232.5,33.7c112.6-57.9,146.2-228.8,68.9-323.9c-47.9-59-136-85.9-203.6-62.5C81,126.2,9.8,289.8,70.8,476.2" />
                </svg> -->
            </div>
            <div class="text clear">
            	<div class="about-me-text">
                <h1 class="black">Olga Geletina</h1> <br>
                <br>
                <p id="about-text">I’m part designer, artist, and engineer. The things that excite me include but are not limited to: hardware, software, user interfaces, games, materials, websites, teaching, film and digital fabrication. I believe the <strong>best[-crafted] technology</strong> is invisible or at least comforting or fun. A recent graduate of the Harvard Design School, you can find me west-siding on the eastcoast.<br><br>
					
				Download my CV, or email me at olgageletina@gmail.com.	<br><br>

				<p>This page was forged from scratch at <a href="https://www.recurse.com/">recurse center</a>. Here's more information on <a href="https://www.recurse.com/">how</a>.<br><br>

                <!-- <mark><a href="google.com">download my CV</a></mark> or <mark>email me</mark> <br><br></p> -->
                <!-- <br> <mark>Intrested in collaborating?</mark><br> -->
                
            </div>
        </div>

    </div>
	<footer>
               <ul class="icons">
               	<li ><a href="https://github.com/olgageletina"><img class="social" src="https://s3.amazonaws.com/geletina-images/github.svg" alt=""></a></li>
               	<li ><a href="https://vimeo.com/geletina"><img class="social" src="https://s3.amazonaws.com/geletina-images/vimeo.svg" alt=""></a></li>
               	<li ><a href="https://www.linkedin.com/in/geletina"><img class="social" src="https://s3.amazonaws.com/geletina-images/linkedin.svg" alt=""></a></li>
              </ul>
              <p>(social, yes)</p>
    </footer>
    </div>
    
    <a href="/" class="back">
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 64.4 56.6" style="enable-background:new 0 0 64.4 56.6;" xml:space="preserve">
		<g id="a">
			<polygon id="white" points="0,28.3 28.3,0 35.4,7.1 18.9,23.6 64.4,23.6 64.4,33.6 19.4,33.6 35.4,49.5 28.3,56.6 	"/>
		</g>
		</svg>
	</a>
</body>
</html>