<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html>

<head>
    <%= headerHTML %>
</head>

<body>
    <%= menu %>
    <div class="about-me about-bg">
        <div class="project-assets-text">
            <div class="text-content-container-altpadding">
                <h1 class="white">Olga Geletina</h1>
            </div>
        </div>
        <div class="about-project-altpadding">
            <div class="about-details">
                <p><a class="animated-underline white"
                        href="https://s3.amazonaws.com/geletina-images/Olga-Geletina-CV.pdf" target="_blank">View CV</a>
                    <br><a class="animated-underline white" href="https://www.linkedin.com/in/geletina"
                        target="_blank">LinkedIn</a>
                    <br><a class="animated-underline white" href="mailto:olgageletina@gmail.com">Contact</a>
                </p>
            </div>
            <div class="about-description white">
                <p id="about-text">
                    I'm a designer and educator exploring human relationships with technology. Currently at The Hartford
                    Innovation Lab, my responsibilities entail end-to-end product creation — from lo-fidelity sketching
                    to creating the final interfaces and gathering data on customer interactions. My background in
                    design, data, and entrepreneurship enables a quantitative approach to design across various modes of
                    technology. <br>
                    A graduate of Baruch College, CUNY and Harvard Graduate School of Design I like to craft education
                    experiences that frame novel concepts in a familiar context. Whether building Experimental
                    JavaScript, an online course for the New School, or workshopping the art of printed circuit boards at
                    the Bronx Innovation Factory my goal is to give students the ability to embrace technical problems
                    on their own.
                </p>
                <br>
                <br>
                <h3 class="white">About this site</h3>
                <p class="white">I made this site from scratch, learn about how I did it <a
                        class="animated-underline white"
                        href="https://github.com/olgageletina/portfoliowithnode">here</a>.</p>
            </div>
        </div>

    </div>
</body>

</html>