<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html>

<head>
    <%= headerHTML %>
</head>

<body>
    <%= menu %>
        <div class="about-me about-bg">
    <div class="project-assets-text">
    <div class="text-content-container-altpadding">
        <h1 class="white" id="og">Olga Geletina</h1>
        <p class="white">(pronounced oh-gee)</p>
    </div>
    </div>
    <div class="about-project-altpadding">
        <div class="about-details">
            <a href="https://s3.amazonaws.com/geletina-images/Olga-Geletina-CV.pdf" download>
            <button type="button">Download CV</button></a>
            <br><br>
            <p><a class="animated-underline white" href="https://www.linkedin.com/in/geletina">LinkedIn</a>
            <br>
            <a class="animated-underline white" href="https://github.com/olgageletina">Github</a>
            <br>
            <a class="animated-underline white" href="https://vimeo.com/geletina">Vimeo</a></p>
            
            
        </div>
        <div class="about-description white">
            <p id="about-text">
                I'm a designer exploring human relationships with technology. A recent alumna of the Harvard Graduate School of Design, you can find me west-siding on the east coast. <br>
                Outside of design, I like surfing, sailing, and art.
            </p>
            <br>
            <br>
            <h3 class="white">About this site</h3>
            <p class="white">I made this site from scratch, learn about how I did it <a class="animated-underline white" href="https://github.com/olgageletina/portfoliowithnode">here</a>.</p>
        </div>
    </div>
  
    </div>
</body>

</html>