<title>Olga Geletina</title>
<meta name="description"
    content="I’m a designer and educator with a passion for building equitable experiences. Currently working in innovation at @TheHartford. I am an alumna of @BaruchCollege and @HarvardGSD.">
</meta>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta property="og:title" content="Olga Geletina">
<meta property="og:description" content="I’m a designer and educator with a passion for building equitable experiences. Currently working in innovation at @TheHartford. I am an alumna of @BaruchCollege and @HarvardGSD.">
<meta property="og:image" content="https://geletina-images.s3.amazonaws.com/portfolio/olga-geletina.png">
<meta property="og:type" content="website">
<meta name="twitter:title" content="Olga Geletina">
<meta name="twitter:description" content="I’m a designer and educator with a passion for building equitable experiences. Currently working in innovation at @TheHartford. I am an alumna of @BaruchCollege and @HarvardGSD.">
<meta name="twitter:image" content="https://geletina-images.s3.amazonaws.com/portfolio/olga-geletina.png">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:ital@1&display=swap"
    rel="stylesheet">
<link rel="manifest" href="/manifest.json" />
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

<script type="text/javascript">
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-105012405-1', 'auto');
    ga('send', 'pageview');
</script>