
<head>
	<%= headerHTML %>
</head>

<body>
  <div class="landing-page" id="landing-body">
	<%= projectHTML %>
  </div>

  <div class="nav-bottom sticky gradient-top-bottom" id="bottom-nav">
    <div class="OG">
      <h3>Olga Geletina</h3>
    </div>
    <div class="menu-link">
      <div class="btn">About</div>
    </div>
    <div class="menu-link">
      <div class="btn">Contact</div>
    </div>
  </div>
</body>
<footer>
  <div class="col-1">
    <div class="about-og">
      <p>
        I'm a designer exploring human relationships with technology. A recent
        alumna of the Harvard Graduate School of Design, you can find me
        west-siding on the east coast. Outside of design, I like surfing,
        sailing, and art. <span class="large-br"><br /></span> Lorem ipsum
        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>

    <div class="publications">
      <h2>Publications</h2>

      <div class="pub">
        <h3 class="pub-title">Energy & Buildings</h3>
        <p>
          Tunable infrared transmission for energy-efficient pneumatic
          building façades
        </p>
        <a href="https://www.sciencedirect.com/science/article/abs/pii/S0378778819331469" class="btn btn-arrow"
          target="_blank">Read paper
          <img src="/static/images/right-arrow-dark.svg" alt="right arrow icon" /></a>
      </div>

      <div class="pub">
        <h3 class="pub-title">ACADIA</h3>
        <p>
          Fluid Equilibrium: Material Computation in Ferrofluidic Castings
        </p>
        <a href="https://www.researchgate.net/publication/328462122_Fluid_Equilibrium_Material_Computation_in_Ferrofluidic_Castings"
          class="btn btn-arrow" target="_blank">Read paper
          <img src="/static/images/right-arrow-dark.svg" alt="right arrow icon" /></a>
      </div>
    </div>

    <div class="contact">
      <h2>Contact</h2>
      <ul class="contacts">
        <li>
          <p>
            <a href="mailto:olgageletina@gmail.com" class="a-inline">olgageletina@gmail.com</a>
          </p>
        </li>
        <li>
          <p>
            <a href="https://www.linkedin.com/in/geletina/">linkedin.com/in/geletina</a>
          </p>
        </li>
      </ul>
      <a href="https://s3.amazonaws.com/geletina-images/Olga-Geletina-CV.pdf" class="btn btn-arrow" target="_blank">View
        resume
        <img src="/static/images/right-arrow-dark.svg" alt="right arrow icon" /></a>
    </div>
  </div>
</footer>
<script defer src="/static/js/main.js"></script>

</html>