<!DOCTYPE html>
<html lang="en">

<head>
  <%= headerHTML %>
</head>

<body>
  <div id="loadOverlay"
    style="background-color:#fff; position:absolute; top:0px; left:0px; width:100%; height:500%; z-index:198;"></div>
  <div class="content-full" data-barba="wrapper">
    <%= menu %>
      <div data-barba="container" class="page-content">
        <div class="landing-page" id="work">
          <div class="col-1">
            <h1 class="visually-hidden">Olga Geletina portfolio home</h1>
            <h2 class="visually-hidden"> Project list</h2>
          </div>
          <div class="col-2" id="anchor">
            <%= projectHTML %>
          </div>
          <div class="col-2 about-og">
            <div class="wrap-around">
              <div class="col-half og-bio">
                <h2 id="about" class="rise">About</h2>
                <p class="about-text">
                  I'm a designer and educator exploring human relationships with technology. Currently at The Hartford
                  Innovation Lab, my responsibilities entail end-to-end product creation — from lo-fidelity sketching to
                  creating the final layouts and gathering data on customer interactions. My background in design, data,
                  and
                  entrepreneurship enables a quantitative approach to design across various modes of technology.
                  <span class="large-br"><br /></span>
                  An alumna of Harvard Graduate School of Design and Baruch College, I enjoy teaching in my spare time.
                  My
                  specialties are courses in design, creative coding, and hobbyist electronics. By creating immersive
                  online
                  and
                  in-person content, I aim to give students the ability to embrace technical problems on their own.
                  <span class="large-br"><br /></span>
                  PS I made this site from scratch, learn <a class="link-type-inline"
                    href="https://github.com/olgageletina/portfoliowithnode">how I did it</a>.
                </p>
              </div>
              <div class="col-half publications">
                <h2 class="rise">Publications</h2>
                <div class="pub">
                  <h3 class="pub-title">Energy & Buildings</h3>
                </div>
                <p>
                  Tunable infrared transmission for energy-efficient pneumatic
                  building façades
                </p>
                <a href="https://www.sciencedirect.com/science/article/abs/pii/S0378778819331469" class="btn btn-arrow"
                  target="_blank">Read paper
                  <img src="/static/images/right-arrow-dark.svg" alt="right arrow icon" /></a>

                <div class="pub">
                  <h3 class="pub-title">ACADIA</h3>
                  <p>
                    Fluid Equilibrium: Material Computation in Ferrofluidic Castings
                  </p>
                  <a href="https://www.researchgate.net/publication/328462122_Fluid_Equilibrium_Material_Computation_in_Ferrofluidic_Castings"
                    class="btn btn-arrow" target="_blank">Read paper
                    <img src="/static/images/right-arrow-dark.svg" alt="right arrow icon" /></a>
                </div>
              </div>
            </div>
            <div class="col-half contact">
              <h2 id="contact" class="rise">Contact</h2>
              <ul class="contacts">
                <li>
                  <p>
                    <a href="mailto:olgageletina@gmail.com" class="link-type-inline">olgageletina@gmail.com</a>
                  </p>
                </li>
                <li>
                  <p>
                    <a href="https://www.linkedin.com/in/geletina/"
                      class="link-type-inline">linkedin.com/in/geletina</a>
                  </p>
                </li>
              </ul>
              <a href="https://geletina-images.s3.amazonaws.com/portfolio/olga-geletina-CV.pdf" class="btn btn-arrow"
                target="_blank">View
                resume
                <img src="/static/images/right-arrow-dark.svg" alt="right arrow icon" /></a>
            </div>
          </div>
        </div>
      </div>
  </div>
  <script defer
    src="https://polyfill.io/v3/polyfill.min.js?features=default%2CArray.prototype.find%2CIntersectionObserver"></script>
  <script defer src="/static/js/CustomEase.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/@barba/core@2.9.7/dist/barba.umd.min.js"></script>
  <script defer src="/static/js/split.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
  <script defer src="/static/js/lazysizes.min.js"></script>
  <script type="text/javascript">
    const isIE = /*@cc_on!@*/ false || !!document.documentMode;
    if (isIE === false) {
      document.write("<script defer src=\"/static/js/script.js\"></scr" + "ipt>");
      // document.write("<script src=\"js/moreskins.js\"></scr" + "ipt>");
    } else {
      document.write("<script defer src=\"/static/js/ie-script.js\"></scr" + "ipt>");
      // document.write("<script defer src=\"./js/script.js\"></scr" + "ipt>");
    }
  </script>

</html>