<header>
    <div class="menu">
        <div class="menu menu-home">
            <div class="btn"><a href="./">Olga Geletina</a></div>
        </div>
        <div id="menu-burger" onclick="toggleNav()">
            <div class="hamburger">
                <div class="burger-line top"></div>
                <div class="burger-line center"></div>
                <div class="burger-line bottom"></div>
            </div>
        </div>
    </div>
    <!-- desktop menu-->
    <ul class="menu-links">
        <li class="btn"><a class="link-type-menu" href="./#work">Work</a></li>
        <li class="btn"><a class="link-type-menu" href="./#about">About</a></li>
        <li class="btn"><a class="link-type-menu" href="./#contact">Contact</a></li>
    </ul>
</header>
<!-- mobile menu -->
<div id="mobile-nav" aria-hidden="true">
    <ul class="mobile-links" onclick="toggleNav()">
        <li class="mobile-row">
            <a href="./#work">
                <div class="main">
                    Work
                </div>
                <div class="accent">
                    <h3>01</h3>
                </div>
            </a>
        </li>
        <li class="mobile-row">
            <a href="./#about">
                <div class="main">
                    About
                </div>
                <div class="accent">
                    <h3>02</h3>
                </div>
            </a>
        </li>
        <li class="mobile-row">
            <a href="./#contact">
                <div class="main">
                    Contact
                </div>
                <div class="accent">
                    <h3>03</h3>
                </div>
            </a>
        </li>
    </ul>
    <div class="copyright">
        <h3>© 2021</h3>
    </div>
</div>