<div class="menu-container">
    <a href="../" id="back">
        <img src="https://s3.amazonaws.com/geletina-images/back.svg" />
    </a>
    <div id="hamburger" onclick="toggleMenu()">
        <img src="https://s3.amazonaws.com/geletina-images/menu.svg" />
    </div>
</div>
<ul class="menu" id="menu-options">
    <li class="menu-item" id="web-mobile-menu-item">
        <a href="/web-mobile">
            <span></span>
            <h4 class="menu-text">Web Mobile</h4>
        </a>
    </li>
    <li class="menu-item" id="hardware-menu-item">
        <a href="/hardware">
            <h4 class="menu-text">Hardware</h4>
        </a>
    </li>
    <li class="menu-item" id="materials-menu-item">
        <a href="/materials">
            <h4 class="menu-text">Materials</h4>
        </a>
    </li>
    <li class="menu-item" id="software-menu-item">
        <a href="/software">
            <h4 class="menu-text">Software</h4>
        </a>
    </li>
    <li class="menu-item" id="still-motion-menu-item">
        <a href="/still-motion">
            <h4 class="menu-text">Still Motion</h4>
        </a>
    </li>
    <li class="menu-item" id="about-menu-item">
        <a href="/about">
            <h4 class="menu-text">About</h4>
        </a>
    </li>
</ul>
<script>
var activeCat = "<%= catID %>" + '-menu-item';
var activeMenuElem = document.getElementById(activeCat);

switch (true) {
    case activeCat === 'web-mobile-menu-item':
        activeMenuElem.style.backgroundColor = '#3F36EC'
        break;
    case activeCat === 'hardware-menu-item':
        activeMenuElem.style.backgroundColor = '#152028'
        break;
    case activeCat === 'materials-menu-item':
        activeMenuElem.style.backgroundColor = '#310C80'
        break;
    case activeCat === 'software-menu-item':
        activeMenuElem.style.backgroundColor = '#3E5C6F'
        break;
    case activeCat === 'still-motion-menu-item':
        activeMenuElem.style.backgroundColor = '#A90048'
        break;
}

function toggleMenu () {
    var menuUl = document.getElementById('menu-options');
    var classList = menuUl.className.split(' ');

    if (classList.indexOf('show') === -1) {
        var showClass = menuUl.className.toString() + ' show';
        menuUl.className = showClass;
    } else {
        var hideClass = classList.filter(cl => cl !== 'show');
        menuUl.className = hideClass.toString();
    }

}
</script>