<div class="next-project stroke">
    <a href="/<%= nextSlug %>" class="next-project-link">
        <div class="col-half">
            <div class="btn btn-arrow next-project-link">Next Project
                <div class="arrow-container">
                    <img src="/static/images/right-arrow-dark.svg" alt="right arrow icon" />
                </div>
            </div>
            <strong>
                <%= nextName %>
            </strong>
            <h3>
                <%= nextDescription %>
            </h3>
            <span class="dash-container">
                <span class="dash"></span>

            </span>
        </div>
    </a>
</div>