<footer class="gradient-top-bottom">
    <div class="next-project">
        <div class="row next-garnish">
            <a href="/<%= nextSlug %>" class="btn btn-arrow">Next
                project
                <img src="/static/images/right-arrow-dark.svg" alt="right arrow icon" />
            </a>
        </div>
        <div class="row">
            <div class="project-img col-1">
                <div class="img-container">
                    <a href="/<%= nextSlug %>">
                        <img src="<%= nextImg %>"
                            alt="<%= nextSlug %> image" />
                    </a>
                </div>
            </div>
            <div class="project-desc col-2">
                <a href="/<%= nextSlug %>">
                    <h1><%= nextName %></h1>
                    <h3><%= nextDescription %></h3>
                </a>
            </div>
        </div>
    </div>
</footer>