<div class="video-content" id="<%= pslug %>-img" onclick="openPlayer(this.id)" style="background-image: url(<%= fimageURL %>);">
    <span data-video-play id="<%= pslug %>-play" onclick="openPlayer(this.id)"><br /></span>
</div>
<div class="video-wrapper" style="display: none;" id="<%= pslug %>-player">
    <div class="video-player">
        <iframe src="<%= imgURL %>" frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe></div>
    <div class="close" id="<%= pslug %>-close" onclick="closePlayer(this.id)">×</div>
</div>