<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <%= headerHTML %>
</head>

<body>
    <%= menu %>
    <%= projectHeader %>
    <div class="about-project">
        <div class="about-details">
            <h1 id="name">
                <%= ptitle %>
            </h1>
            <p id="year">
                <%= year %>
            </p><br>
        </div>
        <div class="about-description">
            <p class="about-text">
                <%= aboutHTML %>
            </p>
        </div>
    </div>
    <%= mainHTML %>
</body>
<script>
function closePlayer(closedID) {
    var videoElemID = closedID.substring(0, closedID.lastIndexOf('-')) + '-player';
    var video = document.getElementById(videoElemID.toString());
    stopVideo(video);
    video.style.display = "none";
}

function stopVideo(element) {
    var iframe = element.querySelector('iframe');
    var video = element.querySelector('video');
    if (iframe !== null) {
        var iframeSrc = iframe.src;
        iframe.src = iframeSrc;
    }
    if (video !== null) {
        video.pause();
    };

}

function openPlayer(clickedID) {
    var videoElemID = clickedID.substring(0, clickedID.lastIndexOf('-')) + '-player';
    var video = document.getElementById(videoElemID);
    video.style.display = "block";
}
</script>

</html>